*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.custom-ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.d-flex {
    display: flex;
}
.header{
    background-image: url("./AdobeStock_249777683.jpeg");
    background-size: cover;
    height: 500px;
    width: 100%;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 1rem ;
}
.header-top .header-logo h5 {
margin: 0;
}
.header-top .header-logo p {
    font-size: small;
    }
.header-context{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.header-context .header-context-inner {
    margin: 0 1rem;
    justify-content: center;
 }
.header-context-inner span {
    font-size:xx-large;
 }
.header-context .header-context-inner p{
    font-size: small;
    padding:0 1rem
}

.header-context ul li{
   padding: 0 1rem;
}
.header-context ul a {
    text-decoration: none;
}
.header-context ul i {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  opacity: .5;
}


.header-bottom-inner {
    justify-content: space-between;
    align-items: center;
    background-color: #b9d9e0;
    opacity: .3;
    /* filter: blur(#b9d9e0 ); */
}

.header-bottom-inner .navbar-nav .nav-link{
    color: white;
}
.header-bottom-inner .navbar-nav .nav-link:hover{

    color:#0ea8ab;
}
.header-bottom-inner .btn{
    padding: 1rem 3rem;

    background-color: #0ea8ab;
    color: white;
  }
.online-portfolio-wrapper{
    margin: 1rem 1rem;

}
.porfolio-inner{
    color: white;
    font-size: small;
}

.porfolio-inner .btn {
    padding: .7rem 2.5rem;

}
.porfolio-inner .blu{
    background-color: #0ea8ab;
    color: white;
}
.porfolio-inner .wht{
background-color: white;
    color:  #0ea8ab;
}








@media(max-width:992px){
    .header{
  
        background-image: url("./AdobeStock_249777683.jpeg");
        background-size: cover;
    
        height: 600px;
      
    
      
    }
    
    .header-top {
        flex-direction:column;
        font-size: smaller;
}

.header-bottom-inner {
    flex-direction:column;
    background-color: transparent;
    opacity: 1;
}

.header-bottom-inner .navbar-nav {
  flex-direction: column;

}
}
.header-bottom-inner .navbar-nav .nav-link{
    padding: 0.5rem .5rem;
    font-size: small;
  }




@media(max-width:768px){

    .header-context .header-context-inner {
        margin-bottom: 2rem!important;
        text-align: center;
    }
    .header-context .header-context-inner i {
        font-size: x-large;
       }
    .header-context .header-context-inner p {
     display: none;
    }

    .header-bottom-inner .navbar-nav {
      flex-direction: column;
    }
    .header-bottom-inner .navbar-nav .nav-link{
        padding: 0.5rem .5rem;
    }
    .online-portfolio-wrapper{
        align-items: center;
     
      }

}

@media(max-width:576px){
 
    .header-bottom-inner {
        position: relative;
    }
    .header-context .header-context-inner i {
        font-size: x-large;
       }
    .header-context .header-context-inner p {
        display: none;
       }
   

    .header-bottom-inner .navbar-nav {
      flex-direction: column;
    }
    .header-bottom-inner .navbar-nav .nav-link{
        padding: 0.5rem .5rem;
    }
    .header-bottom-inner .btn {
        padding: 1rem 3rem;
        background-color: #0ea8ab;
        color: white;
    }
    .header-bottom-inner .btn {
        padding: 1rem 1rem;
         margin-left: 1rem;
    }
   
      .header-context .header-context-inner {
align-items: center;
    }

}